
{% extends 'base.html'%}
{% import 'macros.html' as macro%}

<!-- Styles block -->

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
<!-- Content block -->
{% extends 'base.html'%}

{% import 'macros.html' as macro%}
 <!-- Content block -->
 {% block content %}
 <div class="container">
    <form>
        <input type="text" name="news_query" placeholder="Search for a News" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>

</div>
 <!-- Popular news -->
 <h3> Popular News</h3>
 <ul>
     {{ macro.displayNewsList(popular)}}
 </ul>
 <!-- Upcoming news  -->
 <h3> Upcoming News </h3>
 <ul>
     {{ macro.displayNewsList(upcoming)}}
 </ul>
 <!-- Now showing News -->
 <h3>Now Showing</h3>
 <ul>
     {{ macro.displayNewsList(now_showing)}}
 </ul>
{% endblock%}     