{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>

  <body>
        
        <!-- Styles block -->
        {% block styles%}
        {{ super() }}
        <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
        {% endblock %}
        
        
    <!-- Content block -->
    {% block content %}
    <!-- Sources section  -->
    <div class="row">
        <div class="col-md-3">
            <h3 style="text-align: center;">General News</h3>
            <ul >
             {{macro.displaySources(general)}}
            </ul>
            <h3 style="text-align: center;">Business News</h3>
            <ul>
             {{macro.displaySources(business)}}
            </ul>
            <h3 >Science News</h3>
            <ul>
             {{macro.displaySources(science)}}
            </ul>
            <h3 style="text-align: center;" >Health News</h3>
            <ul>
             {{macro.displaySources(health)}}
            </ul>
            <h3 style="text-align: center;" >Technology News</h3>
            <ul>
             {{macro.displaySources(technology)}}
            </ul>
            <h3 style="text-align: center;" >Entertainment News</h3>
            <ul >
             {{macro.displaySources(entertainment)}}
            </ul>
            <h3 style="text-align: center;" >Sports News</h3>
            <ul>
             {{macro.displaySources(sports)}}
            </ul>
        </div>
            
        
        <div class="col-md-9">
            <h3 style="text-align: center;">TOP HEADLINES</h3>
            <div>
            {% for i in top %}

                <div class="card col-md-3" style="margin-right: 20px; padding-right: 20px;" >
                    <img src="{{i.image}}" class="card-img-top" alt="no image">
                    <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{i.title}}</h5>
                    <p class="card-text">{{i.description}}</p>
                    <p class="card-text font-italic">Source : {{i.source}}</p>
                    <br>
                    <a href="{{i.link}}" class="btn btn-primary" style="position: absolute; bottom:10px;">Read more...</a>
                    </div>
                </div>
            {% endfor %}
           
            </div>
            {% endblock %}

    </div>

  </body>

</html>