
<div class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="padding-right: 370px;" href="/"> INSTANT NEWS </a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav ml-auto">
                <li><a href="/">Home</a></li>
                <li><a href="#gen">General News</a></li>
                <li><a href="#bus">Business News</a></li>
                <li><a href="#sci">Science News</a></li>
                <li><a href="#health">Health News</a></li>
                <li><a href="#tech">Technology News</a></li>
                <li><a href="#enter">Entertainment News</a></li>
                <li><a href="#sports">Sports News</a></li>
                
            </ul>
        </div>
        <nav >
            <a class="navbar-brand font-weight-bolder" style="padding-left: 180px;" href="#sources">News Sources</a>
        </nav>

    </div>
</div>